
I will provide you ${programming_language} code files.
After that, I will provide you tuples of file names. A tuple may consists of two file names or only one file name. For each tuple I provide, find all data clumps in the respective files  Examples of data clump are provided below.
Use the following JSON format for the output:
## JSON
${output_format}

## Examples
${examples}
