[submodule "src/data-clumps-doctor"]
	path = src/data-clumps-doctor
	url = git@github.com:compf/data-clumps-doctor.git
[submodule "REDCLIFF-Java"]
	path = REDCLIFF-Java
	url = git@github.com:compf/REDCLIFF-Java.git
[submodule "javaTest"]
	path = javaTest
	url = git@github.com:compf/javaTest.git
