[submodule "src/data-clumps-doctor"]
	path = src/data-clumps-doctor
	url = https://github.com/NilsBaumgartner1994/data-clumps-doctor.git
[submodule "REDCLIFF-Java"]
	path = REDCLIFF-Java
	url = git@github.com:compf/REDCLIFF-Java.git
[submodule "dataClumpFixerRecipe"]
	path = dataClumpFixerRecipe
	url = git@github.com:compf/dataClumpFixerRecipe.git
