
I will provide you  the abstract syntax tree of one or more ${programming_language} code files.
Find all data clumps in the respective files.

A data clump exists if
1) two methods (in the same or in different classes) have at least 3 common parameters
    and one of those methods does not override the other,

or  
2) At least three fields in a class are common with the parameters of a method (in the same or in a different class),

or
3) Two different classes have at least three common fields


Use the following JSON format for the output:
## JSON
%{output_format}

