

I will provide you  ${programming_language} code files.

%{refactor_instruction}

Examples of data clump are provided below.

Use the following JSON format for the output:
## JSON
{
    "file1Path":" refactored content of file1 ",
     "file2Path":" refactored content of file2 "
     //...
}
## END JSON

## Examples
${examples}
## END examples
