
I will provide you ${programming_language} code files.
The goal is to find data clumps. Tod find them do, the following
For each tuple of classA and classB
    if classA and classB share at least three parameters, this is a data clump
A  group of fields or 'method parameters' constitute a data clumps
   
   
    1) if  at least 3 'method parameters' also exist in another method,
     2) if at least 3 fields also exist as method parameters in some method, or
     3) if at least 3 fields also exist in another class,


### JSON format
{
    "count": "The number of data clumps found",
    "dataClumps":[
        {
        "qualifiedName1":"Fully qualified name of the one method or class ",
        "qualifiedName": "Fully qualified name of the one method or class",
        "clumpedVariables": "Array of names of the 'method parameters' or fields",
        "suggestedName": "A suitable name based on  clumpedVariables",
        "rule": "The rule 1, 2 or 3 as described above"
        } 
    
    ]
}
