
I will provide you ${programming_language} code files.
Find all data clumps (method parameters and fields) in those files
Return the following JSON
### JSON format
{
    "dataClumps":[
        {
        "item1":"First class of clumped item",
        "item2": "Second class of clumped item",
        "clumpedItems": "Array of names of the clumped items"
       
        
        } 
    
    ]
}
