
I will provide you ${programming_language} code files.
The goal is to find data clumps. Tod find them do, the following
For each tuple of classA and classB
    if classA and classB share at least three parameters, this is a data clump
A  group of fields or 'method parameters' constitute a data clumps
    1) if at least three fields also exist in another class,
    2) if at least three fields also exist as method parameters in some method, or
    3) if  at least three 'method parameters' also exist in another method
For every 

### JSON format
{
    "dataClumps":[
        {
        "class1":"Name of the first class",
        "class2": "Name of the second class",
        "clumpedVariables": "Array of names of the 'method parameters' or fields",
        "suggestedName": "A suitable name based on  clumpedVariables"
        } 
    
    ]
}
