
I will provide you ${programming_language} code files.
Please find and refactor all data clumps. Examples of data clump are provided below.
 Instead of pointing out a possible data clump, presume that it is a data clump and refactor it.
Use the following JSON format for the output:
## JSON
{
    "file1": [
        "line1",
        "line2"
    ],
    "file2": [
        "line1",
        "line2"
    ]
}

## Examples
%{examples}
