
I will provide you ${programming_language} code files.
The goal is to find data clumps. To find them do, the following:

1) Generate a list of all classes and all methods across all files
2) Clone that list
3) dataClumps=[]
4)For all combination of the two lists in step 1 and 2 (tuples)
    if item1==item2 or isConstructor(item1) or isConstructor(item2):
        continue
    else:
        dataClumps.add({item1,item2})


Return the following JSON
### JSON format
{
    "dataClumps":[
        {
        "item1":"Name of the first tuple item",
        "item2": "Name of the second tuple item",
       
        
        } 
    
    ]
}
