I will provide you ${programming_language} code files.
Data clumps can be either on method parameter level or on field level.
Locate all method and field declarations where data clumps exist.
The data clumps can be extracted to a new class. E.g. if multiple times the parameters x,y,z appear, a class 'Point' can be created instead.
Output in JSON with the format given below.

### JSON FORMAT
{
    "existingClassName":"Name of the class where the data clump is located",
    "methodName": "If part of a method, the name of the method, else null",
    "newClassName": "A suitable name for the new extracted class",
    "variableNames": "All variable names that constitute the data clump (array)",
    "lineNumber": "The line number where the field or method is located",
    "columnNumber": "The column number where the field or method is located",
    "code": "The code one the line number specified in 'line_number'"
}