I will provide you ${programming_language} code files.
List all methods and fields grouped by class.
If a class has less than three fields, the fields may not appear in the output.
If a method has less than three parameters, the whole method may not appear in the output
So if 'numberParameters' is less than 3, the method must be disregarded.
Also if 'numberFields' is less than 3, 'fields' must be empty

Use the following JSON format

### JSON format
{
    "class_name":{
           "numberFields": "Number of fields",
        "fields":[
            {
                "name":"Name of the field",
                "type": "Type of the field",
                 "line": "Line number of the field",
                "column": "Column number of the field"
            },
        ]
            "methods":[
            {
                "name":"Name of the method",
                "numberParameters": "Number of parameters",
                "parameters": [
                    {
                        "name":"Name of the parameter",
                        "type": "Type of the parameter",
                        "line": "Line number of the parameter",
                        "column": "Column number of the parameter"
                    }
                ]
            },

        ]
    }
}