Refactor one data clump in the respective files.
To do this, replace the method parameters or fields of all data clump variables by an instance of the extracted class, and update all usages accordingly.
Also provide the content of the extracted class.