
I will provide you ${programming_language} code files.
The goal is to find data clumps. A data clump exists
    1)  if at least three fields also exists in another class
    2) if at least three fields also exists as method parameters in some method
    3) if two methods have at least three common parameters
Please find all data clumps based on these criteria and output use the result as JSON.