Refactor all data clumps in the respective files.
To do this, replace the method parameters or fields of all data clump variables by a reference to the extracted class, and update all usages accordingly.
Also provide the content of all extracted classes.
If possible, the extracted classes should not be just mere data classes but contain additional functionality to increase readability and usability.