 "Suggest ${quantifier} class name for the following ${programming_language} fields
 ### ${programming_language} fields
  ${field_names}?
  
## end ${programming_language} fields
 Response IN JSON with the format {'suggested_name':'name'}