

I will provide you  ${programming_language} code files.

%{refactor_instruction}

Examples of data clump are provided below.


Data clumps have already been detected by another tool. Use this information from the other tool for the refactoring.

### OUTPUT OF THE OTHER tool

%{detected_data_clumps}

### END OUTPUT OF THE OTHER TOOL

The format of the output of the other tool is as follows:

### OUTPUT FORMAT OF THE OTHER TOOL

%{output_format}

### END OUTPUT FORMAT OF THE OTHER TOOL


Use the following JSON format for your output:

## JSON FORMAT FOR YOUR OUTPUT

%{output_format_refactor}

## END JSON FORMAT FOR YOUR OUTPUT

## EXAMPLES OF DATA CLUMPS

%{examples}

## END EXAMPLES OF DATA CLUMPS
