
I will provide you one or more ${programming_language} code files.

%{refactor_instruction}


Use the following JSON format for the output:

## JSON
{
    "file1Path":" refactored content of file1 ",
     "file2Path":" refactored content of file2 "
     //...
}
## END JSON

