

I will provide you the abstract syntax tree of one or more ${programming_language} code files.
Find all data clumps in the respective files.

 Examples of data clump are provided below.

Use the following JSON format for the output:
## JSON
${output_format}

## Examples
${examples}
