
I will provide you information of data clumps that have been detected by another tool. 
Choose ${number_proposals} data clumps that you think are the most important and should be refactored.
Return the keys of these data clump.
Justify your response for each data clump. 
Use the following  output format in JSON:
{
    "suggestions":[
    "key":"<key>",
    "justification":"<Your justification>
    ],
    

}
