
I will provide you ${programming_language} code snippets that contain data clumps.
Choose one data clump that you think is most important and should be refactored.

%{data_clump_def}


You can use the metrics provided with each data clumps to assess the impact of a data clump, but also consider other factors.
%{filter_output_format}