Return the key of that data clump.
Justify your response. 
Use the following  output format in JSON:

The "reason" attribute should be equal to as follows:
        "size" -> if you choose the data clump because of its large number of parameters/fields
        "occurrence" -> if you choose the data clump because it occurs very often and leads to much duplication
        "affected_files" -> if you choose this data clump because many files are affected by this data clump
        "domain" -> if you choose this data clump because the variables share a common domain so that extracting a class is a good idea
        "other" -> if none of the options above fits

### JSON
{
    %{identification_key},
    "reason":"<as explained above>,
    "justification":"<Your justification which explains the 'reason' in more details>",
}

### END JSON